#navbar {
    justify-content: end;
}

.main-menu__links {
    list-style: none;
    display: flex;
    justify-content: end;
    background-color: #BF3944;
}

.main-menu__link {
    color: white;
    padding: 1rem 2rem;
}

@media screen {
    
}

